lib-cov
*.seed
*.dat
*.out
*.pid
*.gz
*.DS_Store
.idea

pids
logs
results
REQUESTS

api_process.pid

yarn-error.log

.nyc_output
coverage
npm-debug.log
dojo-api.pid
cluster-master-s

*.sublime-workspace
*.sublime-project
.cupboard
.strong-pm

lib
dump.rdb

/language/*
!/language/en
!/language/zz-ZZ
.vscode

prod-config.json

build/
node_modules
test/results
MOUNT_PATH
mongo_memory
.vagrant
provision/galaxy_roles
/dynamodb
.cache-require-paths.json

/public/api-docs

notes.md
*DEBUG*
*mysql_1.log

.latestTestFastCommit
**/.pid.lock

clients/kotlin/TestServer/testServer.log
clients/kotlin/kotlin.iml
scripts/sendCodeSheetLogs
scripts/district/local_dev

/schemas
ssh_agent.sock
.gradle
.tsnode
start_time

/scripts/gitHooks/hook-settings
/script/gitHooks/custom_pre_push_hook.sh